/* You can add global styles to this file, and also import other style files */
* { font-family: Arial; }
html, body { height: 100%; }
body {
  margin: 0;
}

.icon-display {
  transform: scale(1.5);
}

.block {
  width: 100% !important;
}
.large{
  font-size: 20px !important;
}
.medium{
  font-size: 16px !important;
}
.small{
  font-size: 12px !important;
}